html, body {
    height: 100%;
    margin: 0;
}
  
.content-container {
    height: 80vh;
}

.container {
    height: 100%;
}

#myChartCanvas {
    height: 400px; /* Set the desired height */
    width: 100%; /* Set the desired width */
  }