<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <p>38 Retief St, Potchefstroom, South Africa</p>
          <p>Phone: 082 824 4592</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
          <p>&copy; {{ currentYear }} Shipping Corp</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 text-right">
          <p>{{ currentTime | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
        </div>
      </div>
    </div>
  </footer>
  
