<div class="container mt-4" >
  <h2>All Products</h2>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders">{{ header | titlecase }}</th>
        <th *ngIf="isAdmin()">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td *ngFor="let header of tableHeaders">{{ product[header] }}</td>
        <td *ngIf="isAdmin()">
          <button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>