<div class="container mt-4">
    <h2>All Products</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.product_category }}</td>
          <td>{{ product.product_quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
